# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [49]:
my_number = 10

print(my_number)
type(my_number)

10

int

##### Assinging float

In [ ]:
my_float =10.5

print(my_float)
type(my_float)

whole_float=11.0

print(type(whole_float))

#### Performing Calculations on ints and floats

##### Addition

In [ ]:
print(5+5)

my_number + 5

print(5.5 + 5.5)

whole_float + my_float

In [30]:
print(my_number)

# my_number = my_number +5
my_number += 5
print(my_number)

10
15

##### Subtraction

In [31]:
my_number - 10

my_number

# my_number = my_number - 10
my_number -= 10

print(my_number)

5

In [32]:
15.5 - 10.5

my_float - 5.5

print(my_float)

# my_float = my_float - 5.5
my_float -= 5.5

print(my_float)

10.5
5.0

##### Multiplication

In [33]:
10 * 10

new_num = 10 

new_num * 5

print(new_num)

prod = new_num * 5

print(new_num, prod)

10
10 50

In [38]:
print(my_float)

my_float * new_num

# my_float = my_float * 5

my_float *= 4.5

25.0

In [39]:
print(my_float)

112.5

##### Division

In [41]:
print(10 / 5)

print(int(10/5))

print(my_number/2)

# my_number = my_number / 2
my_number /= 2
print(my_number)

2.0
2
2.5
2.5

##### Floor Division

In [50]:
11//5
10.5 // 5

my_number // 2

print(my_number)

# my_number = my_number // 2
my_number //= 2

print(my_number)

10
5

##### Modulo

In [52]:
11 % 5

my_number = 10
my_number % 3

my_number = my_number % 3
my_number %= 3

print(my_number)

1

##### Exponential

In [55]:
10**2

new_number = 10

new_number**3

1000

### String Input-Output

##### String Assignment

In [57]:
new_string = 'hello world'

print(new_string)

print(type(new_string))

hello world
<class 'str'>

##### print() <br>
<p>Don't forget about end=' '</p>

In [64]:
# default end="\n" ex: print('hello world', end='\n

print('hello string', end=' ') 

print('matrix week-2')
print('on new line')

hello string matrix week-2
on new line

##### String Concatenation

In [70]:
instructor = 'sean'

print(new_string + ' ' + instructor)

print(new_string)

hello world sean
hello world

In [71]:
new_string + ' ' +'python week'

print(new_string)

# new_string = new_string + ' python week'
new_string += ' python week'

print(new_string)

hello world
hello world python week

##### Type Conversion

In [85]:
type(int('105'))

number_string = '10.a'

print(number_string)

number_string.isdigit()

if number_string.isdigit():
    int(number_string)
else:
    print("unable to convert")

10.a
unable to convert

##### input()

In [92]:
name = input("What is your name: ")

# user_age = int(input("What is your age"))

# user_age += 1


# print(user_age)

What is your name: Porter

##### format()

In [100]:
age = 19
print('arg')

'hello {} you are {} years old' .format(name, age)

arg

'hello Porter you are 19 years old'

In [102]:
f'hello {name} you are {age + 1} years old'

'hello Porter you are 20 years old'

##### Old Way (python 2)

In [98]:
'Hello %s you are %d years old' %(name, age)

'Hello Porter you are 19 years old'

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [106]:
color = input('what\'s your car\'s color: ')
year = input('what\'s your car\'s year: ')
make = input('what\'s your car\'s make: ')
model = input('what\'s your car\'s model: ')

print(f'your car is a {color} {make} {model} made in {year}!')

what's your car's color: silver
what's your car's year: 2004
what's your car's make: volvo
what's your car's model: xc70

'Your car is a silver volvo xc70 made in 2004!'

### If Statements

In [109]:
# Available operators: Greater(>), Less(<), Equal(==), NotEqual(!=),
# Greater or Equal(>=), Less of Equal(<=)

# Truth Tree:
# T and F = F
# T and T = T
# T or F = T
# F or T = T
# F or F = F

# syntax
# if <boolean statement>:
#     action



print(10 > 11)
if 10 > 11:
    print('10 > 11 True')

if 11 > 10:
    print('11 > 10 True')
    print('action two')
    
if 10 == 10:
    print('10 equal 10')
    
if 10 != 10:
    print('not equal')
    
if 11 >= 11:
    print('11 >= 11')
    
if 10 >= 9 and 11 == 11:
    print("10 >= 9 and 11 == 11")
    
if 10 >= 9 or 11 != 11:
    print("10 >= 9 or 11 != 11")
    
if 10 == 10 or int('abc') > 11:
    print('prevent error short circut')

False
11 > 10 True
action two
10 equal 10
11 >= 11
10 >= 9 and 11 == 11
10 >= 9 or 11 != 11
prevent error short circut

##### 'is' keyword

In [118]:
# bad practice use =
print(11 is 11)

dict1 = {'foo':'bar'}
dict2 = {'foo':'bar'}

dict3 = dict1

print(dict3)

dict1 is dict2
dict3 is dict1

{'foo': 'bar'}

True

##### 'in' keyword

In [124]:
'c' in 'abc'

'd' in 'abc'

porter_grades = '5,5,5,5,5'

if '0' in porter_grades:
    print('fail or make sure to catch up')

##### 'not in' keyword'

In [127]:
if '0' not in porter_grades:
    print('Congrats you graduate!')
    
    print('z' not in 'foo')
    print('b' not in 'bar')

Congrats you graduate!
True
False

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [133]:
U_INPUT = input('Please respond with anything you\'d like: ')
if 'p' or 'P' in U_INPUT:
    print('I see a p')

Please respond with anything you'd like: pad
I see a p

## Using 'and'/'or' with If Statements

In [2]:
#  see above

if 'foo' in 'foobar' and 'bar' in 'foo':
    print('true')

### Elif Statements

In [7]:
if 'dylan' == 'dylan':
    print('today\'s instructor is dylan')
elif 'sean currie' == 'sean currie':
    print('your lucky day')

today's instructor is dylan

In [11]:
today = 'monday'

if today == 'sunday':
    print('enjoy your last day of the weekend')
elif today == 'monday':
    print(' back to school')
elif today =='tuesday':
    print('working through the week')
elif today == 'wednesday':
    print('hump day')
    
print(today)

 back to school
monday

### Else Statements

In [13]:
if today == 'saturday' or today == 'sunday':
    print('it\'s the weekend')

else:
    print('time for school')

it's the weekend

In [17]:
if '':
    print('empty string')
if 'a':
    print('one letter')

one letter

### For Loops

In [24]:
instructor = 'sean currie'

for letter in instructor:
    print(letter)
    print('line two')

print('completed')

s
line two
e
line two
a
line two
n
line two

line two
c
line two
u
line two
r
line two
r
line two
i
line two
e
line two
completed

In [33]:
for num in range(20):
    print(num)
    num += 5
    print(num)
    if num - 5 != 19:
        print('go to next number\n')

print('range loop complete')

0
5
go to next number

1
6
go to next number

2
7
go to next number

3
8
go to next number

4
9
go to next number

5
10
go to next number

6
11
go to next number

7
12
go to next number

8
13
go to next number

9
14
go to next number

10
15
go to next number

11
16
go to next number

12
17
go to next number

13
18
go to next number

14
19
go to next number

15
20
go to next number

16
21
go to next number

17
22
go to next number

18
23
go to next number

19
24
range loop complete

In [45]:
# print(len(instructor))
# print(list(range(11)))
# print(instructor)


for i in range(len(instructor)):
    print(f'index= {i}, element= {instructor[i]}')

index= 0, element= s
index= 1, element= e
index= 2, element= a
index= 3, element= n
index= 4, element=
index= 5, element= c
index= 6, element= u
index= 7, element= r
index= 8, element= r
index= 9, element= i
index= 10, element= e

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [50]:
for num in range(20):
    if num == 5 or num == 10:
        continue
    print(num)

0
1
2
3
4
6
7
8
9
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [53]:
for num in range(20):
    if num == 5:
        break
    print(num)
    
print('out of loop')

0
1
2
3
4
out of loop

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [59]:
def get_user_data():
    input('Give me data: ')
def handle_used_data():
    pass



get_user_data()

Give me data20

In [60]:
for num in range(20):
    if num == 5:
        pass
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Double For Loops

In [68]:
step = 0
for num in range(5):
    for letter in 'sean currie':
        print(num, letter)
    print('nested loop complete\n')
        
print(step)

0 s
0 e
0 a
0 n
0
0 c
0 u
0 r
0 r
0 i
0 e
nested loop complete

1 s
1 e
1 a
1 n
1
1 c
1 u
1 r
1 r
1 i
1 e
nested loop complete

2 s
2 e
2 a
2 n
2
2 c
2 u
2 r
2 r
2 i
2 e
nested loop complete

3 s
3 e
3 a
3 n
3
3 c
3 u
3 r
3 r
3 i
3 e
nested loop complete

4 s
4 e
4 a
4 n
4
4 c
4 u
4 r
4 r
4 i
4 e
nested loop complete

0

In [79]:
# print any duplicate letters

our_string = 'matrixa'

for i, letter in enumerate(our_string):
    for y, letter2 in enumerate(our_string):
        if i!=y and letter == letter2:
            print(letter)
            break

a
a

In [81]:
list(enumerate('matrixa'))

[(0, 'm'), (1, 'a'), (2, 't'), (3, 'r'), (4, 'i'), (5, 'x'), (6, 'a')]

### While Loops

In [84]:
# while <condition>:
#       <codeblock>
num = 0
while num < 20:
    print(num)
    num += 1
    
print('complete')

playing = input('Are you ready to play: [y/n]: ')

while playing == 'y':
    print('having tons of fun')
    playing = input('Are you still playing: [y/n]: ')
    
    if playing != 'y':
        break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
complete
Are you ready to play: [y/n]: y
having tons of fun
Are you still playing: [y/n]: y
having tons of fun
Are you still playing: [y/n]: y
having tons of fun
Are you still playing: [y/n]: y
having tons of fun
Are you still playing: [y/n]: y
having tons of fun
Are you still playing: [y/n]: n

##### Looping 'While True'

In [ ]:
while True:
    playing = input('Are you still playing: [y/n]: ')
    
    if playing == 'n':
        break

##### While & For Loops Used Together

In [88]:
num = 0
while num < 5:
    for letter in 'sean currie':
        print(f'{num = }, {letter = }')
    num += 1
    print('nested loop complete\n')

num = 0, letter = 's'
num = 0, letter = 'e'
num = 0, letter = 'a'
num = 0, letter = 'n'
num = 0, letter = ' '
num = 0, letter = 'c'
num = 0, letter = 'u'
num = 0, letter = 'r'
num = 0, letter = 'r'
num = 0, letter = 'i'
num = 0, letter = 'e'
nested loop complete

num = 1, letter = 's'
num = 1, letter = 'e'
num = 1, letter = 'a'
num = 1, letter = 'n'
num = 1, letter = ' '
num = 1, letter = 'c'
num = 1, letter = 'u'
num = 1, letter = 'r'
num = 1, letter = 'r'
num = 1, letter = 'i'
num = 1, letter = 'e'
nested loop complete

num = 2, letter = 's'
num = 2, letter = 'e'
num = 2, letter = 'a'
num = 2, letter = 'n'
num = 2, letter = ' '
num = 2, letter = 'c'
num = 2, letter = 'u'
num = 2, letter = 'r'
num = 2, letter = 'r'
num = 2, letter = 'i'
num = 2, letter = 'e'
nested loop complete

num = 3, letter = 's'
num = 3, letter = 'e'
num = 3, letter = 'a'
num = 3, letter = 'n'
num = 3, letter = ' '
num = 3, letter = 'c'
num = 3, letter = 'u'
num = 3, letter = 'r'
num = 3, letter = 'r'
num = 3, letter = 'i'
num = 3, letter = 'e'
nested loop complete

num = 4, letter = 's'
num = 4, letter = 'e'
num = 4, letter = 'a'
num = 4, letter = 'n'
num = 4, letter = ' '
num = 4, letter = 'c'
num = 4, letter = 'u'
num = 4, letter = 'r'
num = 4, letter = 'r'
num = 4, letter = 'i'
num = 4, letter = 'e'
nested loop complete

### Built-In Functions

##### range()

In [30]:
list(range(20))

# syntax range(start, stop, step)

list(range(1, 21, 2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

##### len()

In [91]:
len('dylan')

5

##### help()

In [92]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [99]:
help(isinstance)

isinstance(1,(str, int))

isinstance(1,int)
isinstance('abc',str)


age = 33

if isinstance(age,int):
    print(age + 1)

Help on built-in function isinstance in module builtins:

isinstance(obj, class_or_tuple, /)
    Return whether an object is an instance of a class or of a subclass thereof.

    A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
    check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
    or ...`` etc.

34

##### abs()

In [100]:
abs(-5) == 5 == abs(5)

True

### Try and Except

In [106]:
# age = int(input('enter your age: '))

enter your age: 19

In [ ]:
while True:

    age = input('enter your age: ')

    try:
        age = int(age)
        break
    except valueError:
        print('please enter age in digits ex: 33')
    except:
        print('i dont know')
        
age = int(age)

### Lists

##### Declaring Lists

##### Indexing a List

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [109]:
10**3

1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [114]:
age = int(input('please input your age in digits: '))

if age < 18:
    print('kids')
elif age >= 18 and age <= 65:
    print('adults')
else:
    print('seniors')

please input your age in digits: 79
seniors